// imported config
@use "config" as *;


// before login department page
.depart-page {
    position: relative;
    overflow: hidden;
    min-height: 640px;
    height: 100vh;

    @include media-down($screen-sm) {
        padding-top: 80px;
        display: grid;
        grid-template-rows: 1fr 80px;
    }

    @include media-up($screen-sm) {
        min-height: 760px;
    }
}

.depart-header,
.depart-footer {
    line-height: 1;
    z-index: 3;
    width: 100%;
    height: 80px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: $color-white;

    @include media-up($screen-sm) {
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        width: auto;
        background-color: transparent;
    }
}

// ----------------
.depart-header {

    @include media-down($screen-sm) {
        position: fixed;
        z-index: 3;
    }
    
    @include media-up($screen-sm) {
        top: 0;
    }

    img {
        filter: brightness(0);

        @include media-up($screen-sm) {
            filter: none;
        }
    }
}

// ----------------
.depart-footer {
    
    @include media-up($screen-sm) {
        bottom: 48px;
        height: auto;
    }
}

// ----------------
.depart-body {
    
    @include media-up($screen-sm) {
        height: 100%;
    }
}

// ----------------
.depart-items {
    height: 100%;
    display: grid;
    position: relative;
    
    @include media-up($screen-sm) {
        grid-template-columns: repeat(2, 50%);
    }

    @include media-up($screen-md) {
        gap: 0 3vw;
    }
}


// ----------------
.depart-figure {
    width: 100%;
    height: 100%;
    position: relative;

    @include media-up($screen-sm) {
        mask-size: cover;
        mask-repeat: no-repeat;
    }

    @include media-up($screen-md) {
        &::before {
            content: '';
            z-index: 1;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: $color-black;
        }
    }
}

.depart-figure-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;

    @include media-up($screen-md) {
        transform: scale(1);
        transition: $transition;
        transition-property: transform;
    }
}

.depart-gradient {
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $color-black;
    background: linear-gradient(0deg, rgba(0,0,0,0.7399334733893557) 0%, rgba(255,255,255,0) 75%);
    
    @include media-up($screen-md) {
        z-index: 3;
        height: 20%;
        transition: $transition;
        transition-property: height;
    }
}

.depart-figure-left {

    @include media-up($screen-sm) {
        mask-position: center right;
        mask-image: url("../../assets/images/department/depart-left.png");
    }

    @include media-up($screen-md) {
        &::before {
            top: 0;
            background: linear-gradient(180deg, rgba(0,0,0,0.7539390756302521) 0%, rgba(255,255,255,0) 100%);
        }
    }

    .depart-gradient {

        @include media-up($screen-sm) {
            top: 0;
            background: linear-gradient(180deg, rgba(0,0,0,0.48503151260504207) 0%, rgba(255,255,255,0) 75%);
        }
    }

    .depart-figure-image {

        @include media-up($screen-sm) {
            object-position: 70% center;
        }

        @include media-up($screen-md) {
            object-position: 80% center;
        }

        @include media-up($screen-xl) {
            object-position: right center;
        }
    }

    .depart-link {

        @include media-up($screen-sm) {
            top: 25%;
            transform: translate(0, -50%);
            left: 10%;
        }

        @include media-up($screen-md) {
            left: 20%;
        }
    }
}

.depart-figure-right {

    @include media-up($screen-sm) {
        mask-position: center left;
        mask-image: url("../../assets/images/department/depart-right.png");
    }

    @include media-up($screen-md) {
        &::before {
            bottom: 0;
            background: linear-gradient(0deg, rgba(0,0,0,0.48503151260504207) 0%, rgba(255,255,255,0) 75%);
        }
    }

    .depart-gradient {

        @include media-up($screen-sm) {
            bottom: 0;
            background: linear-gradient(0deg, rgba(0,0,0,0.7539390756302521) 0%, rgba(255,255,255,0) 100%);
        }
    }

    .depart-figure-image {

        @include media-up($screen-sm) {
            object-position: 30% center;
        }

        @include media-up($screen-xl) {
            object-position: 35% center;
        }
    }

    .depart-link {

        @include media-up($screen-sm) {
            top: 70%;
            transform: translate(0, -50%);
            left: 16%;
        }

        @include media-up($screen-md) {
            left: 14%;
        }

        @include media-up($screen-xl) {
            left: 10%;
        }
    }
}


// ----------------
.depart-link {
    z-index: 1;
    opacity: 1;
    width: 315px;
    padding-right: 58px;
    position: absolute;
    color: $color-white;
    
    @include media-down($screen-sm) {
        bottom: 0;
        left: 0;
        padding: 0 58px 30px 30px;
    }

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: opacity;
    }

    p {
        opacity: 0.5;
        text-transform: uppercase;
    }

    h2 {
        margin-bottom: $spacing-sm-low;
    }

    h5 {
        font-weight: normal;
    }

    img {
        position: absolute;
        max-width: 48px;
        right: 0;
        top: 24px;

        @include media-up($screen-md) {
            transition: $transition;
            transition-property: right;
        }
    }

    &:hover {

        @include media-up($screen-md) {

            img {
                right: -8px;
            }
        }
    }
}