// imported config
@use "../config" as *;

// buttons
.button {
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 16px;
    min-height: 54px;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.2px;
    position: relative;
    color: $color-primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    border: 2px solid transparent;


    &.block {
        display: flex;
    }

    &.primary {
        color: $color-white;
        background-color: $color-primary;
        border-color: $color-primary;
    }

    &.primary-outline {
        background-color: $color-white;
        border-color: $color-primary;
    }

    &.secondary {
        color: $color-white;
        background-color: $color-disabled;
        border-color: $color-disabled;
    }

    &.secondary-outline {
        background-color: $color-white;
        border-color: $color-disabled;
    }

    &.white {
        background-color: $color-white;
        border-color: $color-white;
    }

    &.white-outline {
        background-color: transparent;
        border-color: $color-white;
    }

    &.icon {
        padding: 0;
        min-height: auto;
        width: 54px;
        height: 54px;
    }
}