// imported config
@use "../config" as *;

// mega
.mega {
    @include media-up($screen-lg) {
        &:hover {
            .mega-block {
                display: block;
            }
        }
    }
}

.mega-link {
    display: flex;
    align-items: center;
    
    @include media-up($screen-lg) {
        display: inline-flex;
        position: relative;
        z-index: 1;
    }

    span {
        flex: 1;
        text-transform: capitalize;
        
        ~ img {
            transform: rotate(-90deg);

            @include media-up($screen-lg) {
                margin-left: 4px;
                max-height: 16px;
                transform: none;
            }
        }
    }

    img {
        display: none;
    }
}

.mega-has-child {

    .mega-link {

        img {
            display: block;
        }
    }
}

.mega-block {
    z-index: 0;
    top: 0;
    left: -450px;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    
    @include media-up($screen-lg) {
        left: 0;
        z-index: auto;
        padding-top: 80px;
        height: auto;
        max-height: 600px;
        display: none;
    }
}

.mega-wrap {
    height: 100%;
    box-shadow: 0 10px 10px 0 rgba($color-black, 0.05);
    background-color: $color-white;
}

// --------------------
.mega-menu {
    padding: 80px 0 30px;

    @include media-up($screen-lg) {
        padding: 30px 0;
    }
    
    @include media-up($screen-xxl) {
        padding: 30px 100px;
    }
}

.mega-row {

    @include media-up($screen-lg) {
        display: grid;
        gap: 100px;
        grid-template-columns: repeat(auto-fit, minmax(0%, max-content));
    }
    
    @include media-up($screen-xxl) {
        gap: 140px;
    }
}

.mega-col {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
    
    @include media-up($screen-lg) {
        margin-bottom: 0;
    }
}

.mega-header {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 0 8px;
    color: $color-grey-mid;
    text-transform: uppercase;

    &:first-of-type {
        margin-top: 0;
    }

    @include media-up($screen-lg) {
        padding: 0;
    }
}

.mega-body {
    padding: 0 8px;

    @include media-up($screen-lg) {
        padding: 0;
    }
}

.mega-video {
    height: 160px;
    overflow: hidden;
    position: relative;
    background-color: rgba($color-grey-low, 0.2);
    border-radius: $global-radius;
}

.mega-video-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mega-items {
    font-weight: normal;
    font-size: 18px;
    color: $color-primary;

    li {
        padding: 8px 0;
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid rgba($color-grey-low, 0.5);

        @include media-up($screen-lg) {
            min-width: 200px;
            min-height: 56px;
            padding: 0;
        }
    }

    a:not(.button) {
        z-index: 1;
        line-height: 1;
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 8px;

        @include media-up($screen-md) {
            @include hover-bg;
        }
    }
}

// --------------------
.mega-col-service {
    counter-reset: count;

    li {
        padding-left: 30px;
        counter-increment: count;

        &::before {
            content: counter(count) ".";
            font-size: 68px;
            line-height: 1;
            color: rgba($color-black, 0.08);
            position: absolute;
            bottom: -15px;
            left: 0;
        }
    }
}

// --------------------
.mega-col-complementary {

    li {

        img {
            max-width: 28px;
            margin-right: 10px;
        }
    }
}


// ------------------
.mega-footer {
    margin-bottom: -20px;
    padding-top: 15px;
    text-align: right;

    @include media-up($screen-lg) {
        margin-bottom: 0;
        padding-top: 10px;
        text-align: center;
    }

    a {
        line-height: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $color-error;

        @include media-up($screen-md) {
            padding: 8px;
            @include hover-bg;
        }

        @include media-up($screen-lg) {
            display: flex;
        }
    }

    img {
        top: -1px;
        margin-left: 5px;
        max-width: 22px;
        position: relative;
    }
}