// imported config
@use "../config" as *;


.page {

    &.login {
        padding-top: 80px;

        .header-navbar-brand {
            justify-content: center;
        }

        .page-body {
            padding: 30px;
        }

        .service-content {

            h2 {

                @include media-up($screen-lg) {
                    font-size: 40px;
                }
            }
        }

        #login {
            padding: 0;
            margin-top: 40px;
        }
    }
}

// page structure
.page-body {

    // depart page
    &.depart,
    // home page
    &.home {

        // hide scrollbar
        .scroll-element.scroll-x.scroll-scrollx_visible,
        .scroll-element.scroll-y.scroll-scrolly_visible {
            display: none;
        }
    }
    
    // page scroll on
    &.page-scroll-on {
        height: 100%;
        z-index: 1;
    }
    
    // page scroll off
    &.page-scroll-off {
        z-index: 1;

        > .scroll-content {
            overflow-y: hidden;
        }

        > .scroll-element {
            display: none !important;
        }
    }
}

.page-content {
    position: relative;
    min-height: 100vh;
    background-color: $base-color-bg;
}