// imported config
@use "../config" as *;

// profile
.profile {
    position: relative;
    padding: $spacing-sm-low;
    padding-bottom: 0;

    &.padding-none {
        padding: 0;
    }
}

// ----------------
.profile-header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: $spacing-sm-low;
    margin-bottom: $spacing-sm-low;
}

.profile-header-user-border {
    @include circle(56px);
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
}

.profile-header-avatar {
    @include circle(50px);
}

.profile-header-title {
    text-transform: capitalize;
}

// ----------------
.profile-role {
    padding: $spacing-xs-mid 0;
    margin-bottom: $spacing-sm-low;
}

.profile-role-header {
    font-size: 12px;
    font-weight: 600;
    color: $color-disabled;
    text-transform: uppercase;
    margin-bottom: $spacing-xs-mid;
}

// profile secondary
.profile-secondary .profile-header {
    align-items: start;
}

.profile-secondary .profile-role-labels {
    margin-top: $spacing-xs-mid;
}