// imported config
@use "../config" as *;


// ----------------------------
.sub-steps-horizontal {
    z-index: 1;
    width: 100%;
    left: 0;
    top: -1px;
    transform: translate(0, -50%);
    position: absolute;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        position: absolute;
        background: $color-error;
        background: linear-gradient(90deg, rgba($color-error, 0) 0%, rgba($color-error, 1) 50%, rgba($color-error, 0) 100%);
    }
}

.sub-step {
    z-index: 1;
    cursor: pointer;
    padding: 2px 6px 0;
    height: 20px;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    color: $color-white;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: $color-error;
    position: relative;

    img {
        margin-top: -2px;
        margin-left: 4px;
    }
}

.sub-steps-vertical {
    z-index: 2;
    width: 1px;
    min-height: 600px;
    right: -2px;
    justify-content: center;
    align-items: center;
    position: absolute;

    &::after {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: $color-error;
        background: linear-gradient(0deg, rgba($color-error,0) 0%, rgba($color-error,1) 50%, rgba($color-error,0) 100%);
    }

    .sub-step {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%) rotate(-90deg);
        padding: 2px 15px 0px 15px;
    }
}

.sub-steps-show {
    display: flex;
}


// --------------------
.sliding {

    .flickity-viewport {
        overflow: visible;
    }

    .flickity-enabled.is-draggable .flickity-viewport {
        cursor: auto;

        &.is-pointer-down {
            cursor: grabbing;

            .sliding-card {
                cursor: grabbing;
            }
        }
    }
}


// --------------------
.sliding-gradient-bottom {
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    background: rgb(238,239,242);
    background: linear-gradient(180deg, rgba(238,239,242,0) 0%, rgba(238,239,242,1) 100%);
}

.sliding-gradient-right {
    z-index: 1;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    position: fixed;
    background: rgb(238,239,242);
    background: linear-gradient(90deg, rgba(238,239,242,0) 0%, rgba(238,239,242,1) 100%);
}

.sliding-gradient-left {
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    position: fixed;
    background: rgb(238,239,242);
    background: linear-gradient(270deg, rgba(238,239,242,0) 0%, rgba(238,239,242,1) 100%);
}


// --------------------
.sliding-drag {
    white-space: nowrap;
    overflow-x: auto;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
        display: none;
    }
}

.sliding-grid {
    z-index: 1;
    height: 100%;
    counter-reset: count;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        top: 58px;
        left: 0;
        height: 1px;
        background-color: $color-grey-low;
    }
}

.sliding-item {
    margin-top: 58px;
    position: relative;
    width: max(205px, calc(100%/7));
    border-right: 1px solid transparent;

    &::after {
        content: '';
        top: 0;
        right: -2px;
        height: 100%;
        width: 1px;
        background-color: $color-grey-low;
        position: absolute;
    }
    
    &:first-child {
        border-left: 1px solid $color-grey-low;
    }

    @for $i from 1 through 7 {
        $num: 7 - $i;
        &:nth-of-type(#{$i}) {
            z-index: $num;
        }
    }
}

.sliding-heading {
    top: -58px;
    left: 0;
    width: 100%;
    height: 58px;
    position: absolute;
    padding: 0 20px;
    font-weight: 600;
    color: $color-grey-high;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    overflow: hidden;
    counter-increment: count;

    &::before {
        content: counter(count) ".";
        z-index: 1;
        font-size: 64px;
        font-weight: normal;
        line-height: 1;
        color: rgba($color-grey-high, 0.1);
        position: absolute;
        bottom: -18px;
        left: 0;
    }
}

.sliding-cards {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    counter-reset: count-sub;
}

.sliding-cards-vertical-center {
    justify-content: center;
    height: auto;
    min-height: 600px;

    .sliding-card {
        margin-right: -3px;
    }
}

.sliding-card {
    position: relative;
    cursor: pointer;
    white-space: normal;
    padding: 20px 16px;
    min-height: 80px;
    background-color: $color-white;
    border: 1px solid $color-grey-low;
    margin-bottom: -2px;
    margin-right: -2px;


    @include media-up($screen-md) {
        transition: $transition;
        transition-property: background-color;

        &:hover {
            background-color: rgba($global-hover-bg-light, 1);

            .sliding-counting {
            
                &::before {
                    color: rgba($color-grey-mid, 1);
                }
            }
            
            .sliding-card-arrow {
                opacity: 1;
            }
            
            .sliding-card-body {
                color: $color-error;
            }
        }
    }
}


// ----------------------------
.sliding-card-active {
    
    .sliding-card-body {
        color: $color-primary;
    }
}


// ----------------------------
.sliding-card-header {
    padding-right: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $spacing-xs-mid;
    margin-bottom: $spacing-xs;
}

.sliding-counting {
    counter-increment: count-sub;

    &::before {
        content: counter(count) "." counter(count-sub);
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        color: rgba($color-grey-mid, 0.6);
    }
}

.sliding-card-avatar {
    @include circle(20px);
    flex-shrink: 0;
    display: none;

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: opacity, visibility;
    }
}

.sliding-card-avatar-show {
    display: flex;
}

.sliding-card-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    display: none;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid $color-notify;
    background-color: $color-notify-light;

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: opacity, visibility;
    }

    img {
        max-width: 18px;
        max-height: 18px;
    }
}

.sliding-card-icon-show {
    display: flex;
}

.sliding-card-arrow {
    position: absolute;
    right: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: opacity;
    }
}

.sliding-card-body {
    color: $color-grey-high;

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: background-color;
    }
}

// ----------------------------
.steps-card {
    z-index: 1;
    border: 2px solid $color-error;

    @include media-up($screen-md) {

        &:hover {
            background-color: $color-white;
        }
    }
}

.steps-card-header {
    margin-bottom: $spacing-xs;
}

.steps-card-icon {
    display: flex;
    font-weight: 600;
    color: $color-error;
    border-color: $color-error;
    background-color: $color-error-light;

    span {
        margin-top: 1px;
    }
}

.steps-card-top {
    margin-right: -3px;
}