.header {
  top: 0;
  left: 0;
  z-index: 8;
  color: #535457;
  font-weight: 600;
  width: 100%;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #d8d8db;
}

.header-home {
  border-bottom: 0;
  backdrop-filter: blur(48px);
  background: linear-gradient(180deg, rgba(238, 239, 242, 0.1), rgba(238, 239, 242, 0) 88.54%);
}

.header-sticky {
  position: sticky;
}

.header-navbar {
  height: 80px;
  display: flex;
  align-items: center;
}

.header-navbar-links {
  flex: 1;
  display: flex;
  gap: 24px;
  align-items: center;
}
.header-navbar-links a {
  display: inline-flex;
  align-items: center;
}
.header-navbar-links a span {
  margin-right: 4px;
  text-transform: capitalize;
}
.header-navbar-links a img {
  max-height: 16px;
}

.header-navbar-brand {
  width: 228px;
}

.header-navbar-nav {
  flex: 1;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
}

.header-navbar-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header-navbar-icon img {
  max-height: 24px;
}
.header-navbar-icon span {
  margin-left: 4px;
}

.header-navbar-setting {
  cursor: pointer;
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-navbar-profile {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-navbar-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d8d8db;
  border: 1px solid #535457;
  overflow: hidden;
}
.header-navbar-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-navbar-text p {
  font-size: 12px;
  font-weight: normal;
}

.header-navbar-arrow img {
  max-height: 16px;
}
