// imported config
@use "../config" as *;

// hero
.hero-block {
    padding-bottom: 68px;
    position: relative;
    height: 500px;

    @include media-up($screen-xs) {
        height: 600px;
    }
    
    @include media-up($screen-md) {
        height: 760px;
        padding-bottom: 104px;
    }

    @include media-up($screen-lg) {
        height: 900px;
    }

    .layout {
        height: 100%;
    }
}

.hero {
    height: 100%;
    position: relative;
    display: grid;
    align-items: end;
    
    @include media-up($screen-md) {
        align-items: start;
    }
}

// ----------------
.hero-slider {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;

    // slick slider
    &.slick-dotted {
        margin-bottom: 0;
    }

    div {
        height: 100%;
    }

    // dots
    .slick-dots {
        margin-top: 0;
        bottom: 30px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        @include media-up($screen-md) {
            bottom: 48px;
        }

        li {
            margin: 0;
            cursor: pointer;
            width: 8px;
            height: 8px;
            border-radius: 8px;

            &.slick-active {
                width: 120px;
                opacity: 0.6;
                background-color: $color-primary;

                button {
                    animation-name: width;
                    animation-duration: 3.5s;
                    animation-timing-function: linear;
                }
            }

            button {
                padding: 0;
                width: 8px;
                height: 8px;
                border-radius: 8px;
                background-color: $base-color-bg;

                &::before {
                    display: none;
                }
            }
        }
    }
}

@keyframes width {
    from {
        width: 8px;
    }

    to {
        width: 100%;
    }
}


// ----------------
.hero-figure {
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// ----------------
.hero-card {
    max-width: 500px;
    position: relative;
    display: grid;
    gap: $spacing-sm-low;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: $global-hover-radius;
    background-color: rgba($color-white, 0.3);

    @include media-up($screen-md) {
        margin-top: 130px;
        margin-left: 40px;
        max-width: 580px;
        padding: 0;
        backdrop-filter: blur(0);
        background-color: transparent;
    }

    @include media-up($screen-lg) {
        margin-top: 170px;
        margin-left: 60px;
    }
}

.hero-card-avatar {
    @include circle(56px);

    @include media-up($screen-md) {
        @include circle(64px);
    }
}

.hero-card-body {

    h1 {
        font-weight: normal;
    }

    h3 {
        font-weight: normal;
        color: $color-grey-high;
    }
}

.hero-card-actions {
    display: grid;
    gap: $spacing-sm-low;

    @include media-view(landscape) {
        display: flex;
        flex-wrap: wrap;
    }

    @include media-up($screen-xs) {
        display: flex;
        flex-wrap: wrap;
    }

    @include media-up($screen-md) {
        padding: $spacing-sm-low 0;
    }
}