// imported config
@use "../config" as *;

// ----------------
@mixin step-active {
    a {
        color: $color-error;
        border-bottom-color: $color-error;

        &::before {
            opacity: 0.1;
            bottom: -14px;
            color: $color-error;
        }

        @include media-up($screen-md) {

            &:hover {
                border-bottom-color: $color-error;

                &::before {
                    color: $color-error;
                }
            }
        }
    }
}


// ----------------------------
.service-content {
    padding-top: $header-navbar-height;

    .layout {
        padding: 0;
        max-width: 1920px;
    }
}

.service-block {
    padding-top: 38px;
}

.service-steps {
    z-index: 1;
    padding: 10px 0 0;
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7));
    align-items: center;
    counter-reset: count;
    position: sticky;
    top: $header-navbar-height;
    background-color: $base-color-bg;
}

.service-step-link {
    top: 90px;
    display: flex;
    align-items: center;
    height: 54px;
    position: sticky;
    color: $color-grey-high;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 0 10px 0 32px;
    border-bottom: 1px solid $color-grey-low;
    overflow: hidden;
    counter-increment: count;

    &::before {
        content: counter(count) ".";
        font-size: 64px;
        font-weight: normal;
        line-height: 1;
        color: rgba($color-grey-high, 0.1);
        position: absolute;
        bottom: -17px;
        left: 0;
    }

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: color, border-color;
        
        &::before {
            transition: $transition;
            transition-property: bottom, color;
        }

        &:hover {
            color: $color-error;
            border-bottom-color: $color-grey-high;

            &::before {
                bottom: -14px;
                color: rgba($color-grey-high, 0.2);
            }
        }
    }
}

// ----------------------------
.service-heading {
    text-align: center;

    h3 {
        font-weight: normal;
        text-transform: uppercase;
        color: rgba($color-grey-mid, 0.6);
    }
}


// ----------------------------
.service-view {
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 50px;
    background-color: $base-color-bg;
    display: flex;
}


// ------------
.service-panel {
    padding: 0 50px 100px;
    border-radius: 8px 0 0 8px;
    counter-reset: count-sub;
    background-color: $color-white;
    width: calc(100% - #{$aside-width});
}

.service-slide {
    padding: 50px 0;
}

.service-hero {
    margin-right: -50px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0 30px;
    padding-bottom: 80px;
}

.service-hero-content {
    padding: 50px 50px 190px 0;
    flex: 1 0;

    h2 {
        font-weight: normal;
        margin-bottom: 16px;

        + h4 {
            margin-top: -16px;
        }
    }

    h4 {
        font-weight: normal;
        color: $color-grey-mid;

        + p {
            margin-top: 40px;
        }
    }

    p {
        font-size: 18px;
    }
}

.service-hero-figure {
    height: 545px;
    width: 400px;
    position: relative;
    overflow: hidden;
    background-color: rgba($color-grey-low, 0.2);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        object-fit: cover;
    }
}

.service-hero-figure-icon {
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
}


.service-hero-figure-comp {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid $color-notify;
    background-color: $color-notify-light;
    border-radius: 32px;
    width: 196px;
    height: 196px;

    img {
        max-width: 156px;
        max-height: 156px;
    }
}

// -----------------------------
.service-users {
    padding-bottom: 50px;

    h2 {
        margin-bottom: 32px;
    }
}

.service-user-block {
    display: flex;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 16px;
    position: relative;
    background-color: rgba($base-color-bg, 0.4);
}

.service-user-arrow {
    cursor: pointer;
    width: 32px;
    height: 32px;
    right: 20px;
    top: 28px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: $global-hover-radius;

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: background-color;

        &:hover {
            background-color: rgba($global-hover-bg, 0.4);
        }
    }
}

.service-user-arrow-show {
    display: flex;
}

.service-user-profile {
    display: flex;
    padding-right: 32px;
    border-right: 1px solid $color-grey-low;

    + .service-user-details {
        margin-left: 32px;
    }
}

.service-user-profile-avatar {
    @include circle(40px);
    margin-right: 8px;
}

.service-user-profile-heading {
    flex: 1 0;

    h6 {
        font-weight: normal;
    }

    p {
        color: $color-grey-mid;
    }
}

.service-user-details {
    flex: 1 0;
    position: relative;

    h6 {
        color: $color-disabled;
        margin-bottom: 4px;
    }
}

.service-user-detail {
    display: flex;
    max-height: 25px;
    overflow: hidden;
}

.service-user-detail-lists {
    display: flex;
    height: 100%;
    gap: 8px;
    flex-wrap: wrap;

    a {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid $color-primary;

        img {
            width: 24px;
            margin-left: 5px;
        }
    }
}

.service-user-detail-view {
    padding-left: 10px;
    flex-shrink: 0;
    color: $color-grey-mid;
    display: none;
}

.service-user-detail-view-show {
    display: block;
}

.service-user-content {
    padding-top: 16px;
    font-size: 18px;

    br + br {
        content: '';
        display: block;
        margin-bottom: 16px;
    }

    strong {
        font-weight: 600;
    }
}


// -----------------------
.service-hero-items {
    margin-top: -130px;
    flex: 1 100%;
    display: grid;
    grid-template-columns: repeat(3, calc((100%/3.7) - 24px));
    gap: 24px;
}

.service-hero-item {
    cursor: pointer;
    padding: 30px;
    height: 240px;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border: 1px solid $color-grey-low;
    backdrop-filter: blur(50px);
    background-color: rgba($color-white, 0.4);

    h4 {
        font-weight: normal;
    }

    @include media-up($screen-md) {
        &:hover {
            background-color: rgba($global-hover-bg, 0.2);

            .service-hero-item-icon-top-right {
                top: -1px;
                right: -1px;
            }
            
            .service-hero-item-icon-bottom-left {
                left: -1px;
                bottom: -1px;
            }

            .service-hero-item-icon-arrow {
                top: 34px;
            }
        }
    }
}

.service-hero-item-icon {
    width: 20px;
    height: 20px;
    top: 30px;
    right: 30px;
    position: absolute;
}

.service-hero-item-icon-arrow {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: top;
    }
}

.service-hero-item-icon-top-right,
.service-hero-item-icon-bottom-left {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::before,
    &::after {
        content: '';
        width: 1px;
        height: 10px;
        background-color: $color-primary;
        position: absolute;
    }
}

.service-hero-item-icon-top-right {

    &::before  {
        top: 0;
        right: 0;
    }

    &::after {
        top: 0;
        right: 0;
        transform: rotate(90deg);
        transform-origin: 0 0;
    }
}

.service-hero-item-icon-bottom-left {

    &::before  {
        bottom: 0;
        left: 0;
    }

    &::after {
        bottom: 0;
        left: 0;
        transform: rotate(90deg);
        transform-origin: 0 100%;
    }
}

.service-hero-item-info {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 4px;
    padding: 4px 10px;
    background-color: $base-color-bg;

    span {
        top: 2px;
        position: relative;
    }
}

.service-hero-item-info-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    ~ span {
        margin-right: 6px;
    }
}

.service-hero-item-active {
    border: 1px solid $color-primary;
    box-shadow: inset 0 0 0 1px $color-primary;
}

// -------------------------
.service-slide-header {
    margin-right: -50px;
    margin-bottom: 35px;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid $color-grey-low;

    h2 {
        max-width: 800px;
        font-weight: normal;
        position: relative;
        display: inline-block;
    }

    @include media-up($screen-md) {
        &:hover {

            .service-slide-header-link {
                opacity: 1;
                visibility: visible;
            }

            .service-slide-header-button {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.service-slide-header-gradient {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0.47102591036414565) 0%, rgba(255,255,255,1) 100%);
}

.service-slide-header-link {
    right: 100%;
    padding-right: 5px;
    bottom: 5px;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    color: rgba($color-grey-high, 0.6);

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: opacity, visibility;
    }
}

.service-slide-header-button {
    position: absolute;
    right: 230px;
    bottom: 10px;
    opacity: 0;
    visibility: hidden;
    text-transform: none;

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: opacity, visibility;
    }
}

.service-slide-header-counts {
    position: absolute;
    right: 40px;
    bottom: 0;
    height: 120px;
    overflow: hidden;
}

.service-slide-header-count {
    bottom: -33px;
    position: relative;
    counter-increment: count-sub;

    &::before,
    &::after {
        font-size: 120px;
        line-height: 1;
        color: rgba($color-grey-high, 0.1);
    }
    
    &::after {
        content: counter(count-sub);
    }
}

.service-slide-message {
    margin-bottom: 30px;
}

.service-slide-accordion {
    counter-reset: task;

    .accordion-link-count {
        counter-increment: task;

        &::after {
            content: " " counter(task);
            line-height: 1;
            color: rgba($color-grey-mid, 0.6);
        }
    }
}

// ------------------
.service-slide-content {
    gap: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    mark,
    strong {
        padding: 0 4px;
        font-weight: 600;
        background-color: #fae3e4;
    }
}

.service-slide-figure {
    margin: 10px 0;
    padding: 0;

    a {
        padding: 8px;
        border-radius: 8px;
        display: inline-block;
        border: 1px solid $color-grey-low;
    }

    img {
        max-height: 100%;
    }

    figcaption {
        margin-top: 8px;
        color: $color-grey-mid;
    }
}


.service-slide-lists {

    li {
        padding: 24px 8px;
        border-bottom: 1px solid $color-grey-low;

        &:last-of-type {
            border-bottom: 0
        }
    }
}

// --------------------
.service-slide-roles {
    border-radius: 8px;
    background-color: rgba($base-color-bg, 0.4);
}

.service-slide-role-items {
    display: flex;
    flex-wrap: wrap;
}

.service-slide-role-item {
    padding: 16px;
    flex: 1 0 50%;
    max-width: 50%;
    border-bottom: 1px solid $color-grey-low;

    &:last-of-type {
        border-bottom: 0;
    }

    h6 {
        margin-bottom: 16px;
    }
}


// ------------------
// scp steps process
#select-initiation {

    .initiation {
        @include step-active;
    }
    
    .aside-link-count {

        &::before {
            content: "1.";
        }
    }

    .service-slide-header-count {

        &::before {
            content: "1.";
        }
    }
}

#select-preparation {

    .preparation {
        @include step-active;
    }

    .aside-link-count {

        &::before {
            content: "2.";
        }
    }

    .service-slide-header-count {

        &::before {
            content: "2.";
        }
    }
}

#select-check-in {

    .check-in {
        @include step-active;
    }

    .aside-link-count {

        &::before {
            content: "3.";
        }
    }

    .service-slide-header-count {

        &::before {
            content: "3.";
        }
    }
}

#select-operation {

    .operation {
        @include step-active;
    }

    .aside-link-count {

        &::before {
            content: "4.";
        }
    }

    .service-slide-header-count {

        &::before {
            content: "4.";
        }
    }
}

#select-quality-control {

    .quality-control {
        @include step-active;
    }

    .aside-link-count {

        &::before {
            content: "5.";
        }
    }

    .service-slide-header-count {

        &::before {
            content: "5.";
        }
    }
}

#select-check-out {

    .check-out {
        @include step-active;
    }

    .aside-link-count {

        &::before {
            content: "6.";
        }
    }

    .service-slide-header-count {

        &::before {
            content: "6.";
        }
    }
}

#select-follow-up {

    .follow-up {
        @include step-active;
    }

    .aside-link-count {

        &::before {
            content: "7.";
        }
    }

    .service-slide-header-count {

        &::before {
            content: "7.";
        }
    }
}