@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-Regular.woff2") format("woff2"), url("../fonts/PorscheNextTT-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-Thin.woff2") format("woff2"), url("../fonts/PorscheNextTT-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-Bold.woff2") format("woff2"), url("../fonts/PorscheNextTT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: "Porsche Next TT";
  line-height: 1.5;
  color: #010205;
  background-color: #eeeff2;
}

html, body {
  height: 100%;
  overflow: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

body, input, textarea, select, button {
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

:focus {
  border: 0;
  outline: 0;
}

.page-body.page-scroll-on {
  height: 100%;
}
.page-body.page-scroll-off > .scroll-content {
  overflow-y: hidden;
}
.page-body.page-scroll-off > .scroll-element {
  display: none !important;
}

.layout {
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .layout {
    max-width: 1240px;
  }
}
@media screen and (min-width: 1440px) {
  .layout {
    max-width: 1340px;
  }
}
@media screen and (min-width: 1560px) {
  .layout {
    max-width: 1460px;
  }
}
@media screen and (min-width: 1920px) {
  .layout {
    max-width: 1820px;
  }
}

h1, .heading-1,
h2, .heading-2,
h3, .heading-3,
h4, .heading-4,
h5, .heading-5,
h6, .heading-6 {
  margin: 0;
  font-weight: 600;
}

h1, .heading-1 {
  line-height: 1.2;
}
@media screen and (min-width: 1280px) {
  h1, .heading-1 {
    font-size: 68px;
  }
}

h2, .heading-2 {
  font-size: 28px;
  line-height: 1.24;
}
@media screen and (min-width: 768px) {
  h2, .heading-2 {
    font-size: 36px;
  }
}
@media screen and (min-width: 1280px) {
  h2, .heading-2 {
    font-size: 50px;
  }
}

h3, .heading-3 {
  font-size: 24px;
  line-height: 1.28;
}
@media screen and (min-width: 768px) {
  h3, .heading-3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  h3, .heading-3 {
    font-size: 38px;
  }
}

h4, .heading-4 {
  font-size: 22px;
  line-height: 1.35;
}
@media screen and (min-width: 768px) {
  h4, .heading-4 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  h4, .heading-4 {
    font-size: 28px;
  }
}

h5, .heading-5 {
  font-size: 20px;
  line-height: 1.36;
}
@media screen and (min-width: 768px) {
  h5, .heading-5 {
    font-size: 22px;
  }
}

h6, .heading-6 {
  line-height: 1.5;
}
@media screen and (min-width: 1280px) {
  h6, .heading-6 {
    font-size: 16px;
  }
}

p {
  margin: 0;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 16px;
  min-height: 54px;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.2px;
  position: relative;
  color: #010205;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border: 2px solid transparent;
}
.button.block {
  display: flex;
}
.button.primary {
  color: #fff;
  background-color: #010205;
  border-color: #010205;
}
.button.primary-outline {
  background-color: #fff;
  border-color: #010205;
}
.button.secondary {
  color: #fff;
  background-color: #949598;
  border-color: #949598;
}
.button.secondary-outline {
  background-color: #fff;
  border-color: #949598;
}
.button.white {
  background-color: #fff;
  border-color: #fff;
}
.button.white-outline {
  background-color: transparent;
  border-color: #fff;
}
.button.icon {
  padding: 0;
  min-height: auto;
  width: 54px;
  height: 54px;
}

.avatar {
  position: relative;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.label {
  padding: 0 12px;
  font-size: 14px;
  border-radius: 12px;
  min-height: 24px;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6b6d70;
  background-color: #d8d8db;
}
.label.primary {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #50808E;
}

.profile {
  padding-bottom: 24px;
  position: relative;
}

.profile-header {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 16px;
  margin-bottom: 16px;
}

.profile-header-title {
  text-transform: capitalize;
}

.profile-header-avatar {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  overflow: hidden;
}

.profile-role {
  padding: 8px 0;
}

.profile-role-header {
  font-size: 12px;
  font-weight: 600;
  color: #949598;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.profile-secondary .profile-header {
  align-items: start;
}

.profile-secondary .profile-role-labels {
  margin-top: 8px;
}

.instance {
  margin-bottom: 24px;
}
.instance:last-of-type {
  margin-bottom: 0;
}

.instance-header {
  margin-bottom: 4px;
  font-weight: 600;
  color: #949598;
}

.instance-body {
  display: grid;
  gap: 16px;
}

.instance-links {
  position: relative;
}

.instance-button {
  justify-content: flex-start;
}
.instance-button p {
  flex: 1 0 0;
  padding-right: 15px;
}
.instance-button em {
  font-style: normal;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .instance-button.secondary {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  .instance-button.secondary p {
    padding-right: 0;
  }
}

.instance-link {
  right: 10px;
  top: 50%;
  font-weight: 600;
  display: flex;
  gap: 0 4px;
  padding: 4px 8px;
  align-items: center;
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 5px;
  transform: translate(0, -50%);
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .instance-link {
    right: auto;
    top: auto;
    left: 16px;
    bottom: 15px;
    transform: none;
  }
}
@media screen and (min-width: 1280px) {
  .instance-link {
    background-color: transparent;
    transition: 0.3s ease;
    transition-property: background-color, opacity;
  }
  .instance-link:hover {
    background-color: #f2f2f2;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .instance-external-links .instance-button {
    padding-bottom: 56px;
  }
}

.instance-external-links .secondary-outline {
  justify-content: flex-start;
}
.instance-external-links .secondary-outline p {
  padding-right: 150px;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .instance-external-links .secondary-outline p {
    padding-right: 0;
  }
}

.instance-external-links .primary p {
  padding-right: 160px;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .instance-external-links .primary p {
    padding-right: 15px;
  }
}
.instance-external-links .primary ~ .instance-link {
  right: 50px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.12);
}
.instance-external-links .primary ~ .instance-link img {
  filter: invert(1);
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .instance-external-links .primary ~ .instance-link {
    right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .instance-external-links .primary p {
    padding-right: 160px;
  }
  .instance-external-links .primary ~ .instance-link {
    opacity: 0;
  }
  .instance-external-links .primary ~ .instance-link:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.25);
  }
  .instance-external-links .primary:hover ~ .instance-link {
    opacity: 1;
  }
}

.window {
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  visibility: hidden;
}
.window.window-open {
  visibility: visible;
}
.window.window-open .window-blur {
  opacity: 1;
}
.window.window-close {
  visibility: hidden;
}
.window.window-close .window-blur {
  opacity: 0;
}

.window-blur {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
}

.window-dialog {
  max-width: 540px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 50px auto;
  height: calc(100% - 100px);
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .window-dialog {
    margin: 0 auto;
    height: 100%;
  }
}

.window-content {
  width: 100%;
  max-height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}

.window-scroll {
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .window-scroll {
    padding: 32px;
  }
}

.window-header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 30px;
}

.window-header-close {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.window-header-secondary .window-header-close {
  top: 5px;
  right: 5px;
  margin-top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
}

.drawer {
  top: 0;
  right: -400px;
  max-width: 400px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: fixed !important;
  transition: 0.3s ease;
  transition-property: right;
}
.drawer.drawer-open {
  right: 0;
}
@media screen and (min-width: 768px) {
  .drawer.drawer-open .drawer-close-button {
    right: 432px;
  }
}
.drawer.drawer-close {
  right: -400px;
}
@media screen and (min-width: 768px) {
  .drawer.drawer-close {
    right: -54px;
  }
}

.drawer-close-button {
  top: 0;
  right: 0;
  z-index: 1;
  position: absolute;
}
.drawer-close-button img {
  filter: invert(1);
}
@media screen and (min-width: 768px) {
  .drawer-close-button {
    top: 32px;
    right: -54px;
    position: fixed;
    transition: 0.3s ease;
    transition-property: right;
  }
  .drawer-close-button img {
    filter: none;
  }
}

.drawer-content {
  right: 0;
  min-height: 100%;
  width: 100%;
  padding: 80px 0;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fff;
}

.drawer-header {
  padding-left: 35px;
  padding-right: 35px;
}
@media screen and (min-width: 768px) {
  .drawer-header {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.drawer-items {
  padding: 24px 35px;
  border-top: 1px solid #d8d8db;
  border-bottom: 1px solid #d8d8db;
}
@media screen and (min-width: 768px) {
  .drawer-items {
    padding-left: 48px;
    padding-right: 48px;
  }
}
.drawer-items:last-of-type {
  border-top: 0;
  border-bottom: 0;
}

.drawer-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 3px 5px;
  padding-top: 5px;
  margin-bottom: 8px;
  border-radius: 8px;
}
.drawer-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1280px) {
  .drawer-item {
    transition: 0.3s ease;
    transition-property: background-color;
  }
  .drawer-item:hover {
    background-color: #f2f2f2;
  }
}

.drawer-link {
  gap: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
}
.drawer-link + .drawer-link-icon {
  margin-left: 8px;
}

.drawer-link-icon {
  width: 24px;
  height: 24px;
  margin-top: 1px;
}

.drawer-link-text h5 {
  font-weight: normal;
}

.drawer-footer {
  margin-top: 24px;
  padding-left: 35px;
  padding-right: 35px;
}
@media screen and (min-width: 768px) {
  .drawer-footer {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.drawer-footer-label {
  margin-bottom: 4px;
  color: #535457;
}

.drawer-footer-button {
  font-weight: normal;
  gap: 0 10px;
}
.drawer-footer-button p {
  flex: 1 0 0;
}
.drawer-footer-button span {
  font-size: 12px;
  text-decoration: underline;
}

/*
-
- Porsche based on dart-sass
- version 1.58.0 (dart2js 2.19.0)
- @author Bimal Rana
-
*/
