@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-Regular.woff2") format("woff2"), url("../fonts/PorscheNextTT-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-Thin.woff2") format("woff2"), url("../fonts/PorscheNextTT-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Porsche Next TT";
  src: url("../fonts/PorscheNextTT-Bold.woff2") format("woff2"), url("../fonts/PorscheNextTT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: "Porsche Next TT";
  line-height: 1.5;
  color: #010205;
  background-color: #eeeff2;
}

body, input, textarea, select, button {
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

:focus {
  border: 0;
  outline: 0;
}

.wrapper {
  max-width: 1740px;
  margin: 0 auto;
  position: relative;
}

h1, .heading-1,
h2, .heading-2,
h3, .heading-3,
h4, .heading-4,
h5, .heading-5,
h6, .heading-6 {
  margin: 0;
  font-weight: 600;
}

h1, .heading-1 {
  font-size: 68px;
  line-height: 1.2;
}

h2, .heading-2 {
  font-size: 50px;
  line-height: 1.24;
}

h3, .heading-3 {
  font-size: 38px;
  line-height: 1.28;
}

h4, .heading-4 {
  font-size: 28px;
  line-height: 1.35;
}

h5, .heading-5 {
  font-size: 22px;
  line-height: 1.36;
}

h6, .heading-6 {
  font-size: 16px;
  line-height: 1.5;
}

p {
  margin: 0;
}

.button {
  border-radius: 4px;
  padding: 15px 26px;
  font-size: 16px;
  font-weight: 600;
  color: #010205;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  transition: opacity 0.2s;
}
.button:hover {
  opacity: 0.65;
}
.button.primary {
  color: #fff;
  background-color: #010205;
  border-color: #010205;
}
.button.outline {
  background-color: #fff;
  border-color: #010205;
}

/*
-
- Porsche based on dart-sass
- version 1.58.0 (dart2js 2.19.0)
- @author Bimal Rana
-
*/
