.page.login {
  padding-top: 80px;
}
.page.login .header-navbar-brand {
  justify-content: center;
}
.page.login .page-body {
  padding: 30px;
}
@media screen and (min-width: 1440px) {
  .page.login .service-content h2 {
    font-size: 40px;
  }
}
.page.login #login {
  padding: 0;
  margin-top: 40px;
}
