// shapes size
// circle
@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: $size;
}

// rounded
@mixin rounded($size, $radius) {
    width: $size;
    height: $size;
    border-radius: $radius;
}