// imported config
@use "../config" as *;


// before login department page
.depart {
    position: relative;
    overflow: hidden;
    min-height: 600px;
    height: 100vh;

    @include media-down($screen-sm) {
        padding-top: 80px;
        display: grid;
        grid-template-rows: 1fr 80px;
    }
}

.depart-header,
.depart-footer {
    line-height: 1;
    z-index: 2;
    width: 100%;
    height: 80px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: $color-white;

    @include media-up($screen-sm) {
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        width: auto;
        background-color: transparent;
    }
}

// ----------------
.depart-header {

    @include media-down($screen-sm) {
        position: fixed;
        z-index: 3;
    }
    
    @include media-up($screen-sm) {
        top: 0;
    }

    img {
        filter: brightness(0);

        @include media-up($screen-sm) {
            filter: none;
        }
    }
}

// ----------------
.depart-footer {
    
    @include media-up($screen-sm) {
        bottom: 48px;
        height: auto;
    }
}

// ----------------
.depart-body {
    
    @include media-up($screen-sm) {
        height: 100%;
    }
}

// ----------------
.depart-items {
    height: 100%;
    display: grid;
    position: relative;
    
    @include media-up($screen-sm) {
        gap: 0 3vw;
        grid-template-columns: repeat(2, 1fr);
    }
}


// ----------------
.depart-figure {
    width: 100%;
    height: 100%;
    position: relative;

    @include media-up($screen-sm) {
        mask-size: cover;
        mask-repeat: no-repeat;
    }

    &::before {
        content: '';
        z-index: 1;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $color-black;
        background: linear-gradient(0deg, rgba(0,0,0,0.7539390756302521) 0%, rgba(255,255,255,0) 100%);

        @include media-up($screen-sm) {
            height: 20%;
        }

        @include media-up($screen-md) {
            transition: $transition;
            transition-property: height;
        }
    }

    .depart-figure-mobile {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: block;

        @include media-up($screen-sm) {
            display: none;
        }
    }

    .depart-figure-desktop {
        display: none;

        @include media-up($screen-sm) {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            display: block;
        }

        @include media-up($screen-md) {
            transform: scale(1);
            transition: $transition;
            transition-property: transform;
        }
    }
}

.depart-figure-left {

    @include media-up($screen-sm) {
        mask-position: center right;
        mask-image: url("../../assets/images/department/depart-left.png");
    }

    &::before {

        @include media-up($screen-sm) {
            top: 0;
            background: linear-gradient(180deg, rgba(0,0,0,0.7539390756302521) 0%, rgba(255,255,255,0) 100%);
        }
    }

    .depart-figure-desktop {

        @include media-up($screen-sm) {
            object-position: center right;
        }
    }

    .depart-link {

        @include media-up($screen-sm) {
            top: 25%;
            transform: translate(0, -50%);
            left: 10%;
        }

        @include media-up($screen-md) {
            left: 20%;
        }
    }
}

.depart-figure-right {

    @include media-up($screen-sm) {
        mask-position: center left;
        mask-image: url("../../assets/images/department/depart-right.png");
    }

    &::before {

        @include media-up($screen-sm) {
            bottom: 0;
            background: linear-gradient(0deg, rgba(0,0,0,0.7539390756302521) 0%, rgba(255,255,255,0) 100%);
        }
    }

    .depart-figure-desktop {

        @include media-up($screen-sm) {
            object-position: center left;
        }
    }

    .depart-link {

        @include media-up($screen-sm) {
            top: 66%;
            transform: translate(0, -50%);
            left: 16%;
        }

        @include media-up($screen-md) {
            top: 68%;
            left: 12%;
        }
    }
}

.depart-figure--hover {

    &::before {
        height: 70%;
    }

    .depart-figure-desktop {
        transform: scale(1.01);
    }
}


// ----------------
.depart-link {
    z-index: 1;
    opacity: 1;
    padding-right: 58px;
    width: 315px;
    position: absolute;
    color: $color-white;

    @include media-down($screen-sm) {
        bottom: 30px;
        left: 30px;
    }

    @include media-up($screen-md) {
        transition: $transition;
        transition-property: opacity;
    }

    p {
        opacity: 0.4;
        text-transform: uppercase;
    }

    h2 {
        font-weight: normal;
        margin-bottom: $space-xs;
    }

    h5 {
        font-weight: normal;
    }

    img {
        position: absolute;
        max-width: 48px;
        right: 0;
        top: 24px;

        @include media-up($screen-md) {
            transition: $transition;
            transition-property: right;
        }
    }
}

.depart-link--hover {

    img {
        right: -8px;
    }
}

.depart-link--opacity {
    opacity: 0.6;
}